.FullScreen{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('/Users/dpcam/Desktop/myrecords-frontend/myrecords/src/images/my_albums.jpeg'); */
  background-image: url('./styles/images/ellicia-recordstore.jpg');
  background-size: cover;
  background-position: center;  /* Centraliza a imagem na div */
  background-repeat: no-repeat;  /* Evita repetição da imagem */
  height: 100vh; /* Altura da div, exemplo com 100% da altura da viewport */
  width: 100%; /* Largura da div, 100% da largura do container */
}
